run = "npm run start"
entrypoint = "server/index.ts"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run db:migrate && npm run build && npm run start"]
deploymentTarget = "cloudrun"

[env]
PORT = "5000"
TZ = "America/Mexico_City"

[[ports]]
localPort = 5000
externalPort = 80
